.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .aboutTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 20px; 
  }

  .aboutBottom p {
    width: 80%; 
    margin-top: -30px;
    max-width: 1200px; 
    line-height: 1.5; 
    font-size: 1rem; 
  }

  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 3.5rem; 
    color: black;
    height: auto;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
    margin: 10px 0; 
  }
  

/* Media query for large screens */
@media only screen and (min-width: 1200px) {
    .about .aboutBottom h1 {
      font-size: 4rem; 
    }
  }
  
  /* Media query for medium screens */
  @media only screen and (max-width: 900px) {
    .aboutBottom p {
      width: 90%; 
    }
  
    .about .aboutBottom h1 {
      font-size: 3rem; 
    }
  }
  
  /* Media query for small screens */
  @media only screen and (max-width: 600px) {
    .aboutBottom p {
      width: 95%; 
      font-size: 0.9rem; 
    }
  
    .about .aboutBottom h1 {
      font-size: 2.5rem; 
    }
    
    .aboutTop {
      height: 50%; 
    }
    
    .aboutBottom {
      margin-top: 20px; 
      padding: 10px; 
    }
  }