.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .aboutTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 10px;
  }
  
  .aboutBottom p {
    width: 1200px;
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  }
  

/* Media query for screens 900px and below */
@media only screen and (max-width: 900px) {
  .aboutBottom p {
    width: 90%;
  }

  .about .aboutBottom h1 {
    font-size: 50px;
  }
}

/* Media query for screens 600px and below */
@media only screen and (max-width: 600px) {
  .aboutBottom p {
    width: 95%;
  }

  .about .aboutBottom h1 {
    font-size: 40px;
  }
  
  .aboutTop {
    height: 50%;
  }
  
  .aboutBottom {
    margin-top: 30px;
  }
}